# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PycharmProjects\k_means\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
